<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project01">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"

        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".WordList"/>
        <activity android:label="@string/app_name" android:name=".WordDisplay"/>
        <activity android:label="@string/app_name" android:name=".CrosswordActivity"/>
        <activity android:name=".WordSearchActivity"/>
        <activity android:name=".BodyPic"/>
        <activity android:name=".HeadPic"/>
        <activity android:name=".MenuList"/>
        <activity android:name=".SpeakingExercises"/>
        <activity android:name=".SpeakingDisplay"/>
        <activity android:label="@string/app_name" android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
    <!--
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    -->